@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 22px;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-1 H1 {
  color: #f97352;
}
#slider-1 P {
  color: #f97352;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  text-align: center;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#content5-2 .mbr-article P {
  text-align: center;
  font-size: 21px;
}
#footer1-5 P {
  color: #f97352;
}
#form1-49 .mbr-header__text {
  color: #ffffff;
}
#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-12 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-12 .mbr-brand__name a {
  font-size: 22px;
}
#footer1-17 P {
  color: #f97352;
}
#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-18 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-18 .mbr-brand__name a {
  font-size: 22px;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
}
#content5-20 .mbr-article P {
  text-align: center;
  font-size: 21px;
}
#footer1-23 P {
  color: #f97352;
}
#msg-box4-48 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-48 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-48 .mbr-article {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-brand__name a {
  font-size: 22px;
}
#footer1-11 P {
  color: #f97352;
}

#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-24 .mbr-brand__name a {
  font-size: 22px;
}
#slider-25 H1 {
  color: #f97352;
}
#slider-25 P {
  color: #f97352;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
}
#testimonials1-51 .mbr-reviews__text P {
  text-align: center;
}
#testimonials1-51 .mbr-reviews__text {
  text-align: center;
}
#testimonials1-51 .mbr-section__header {
  color: #d14841;
}
#footer1-29 P {
  color: #f97352;
}
#ext_menu-30 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-30 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-30 .mbr-brand__name a {
  font-size: 22px;
}
#content5-32 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-32 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-32 .mbr-article {
  color: #fff;
}
#content5-32 .mbr-article P {
  text-align: center;
  font-size: 21px;
}
#footer1-35 P {
  color: #f97352;
}
#ext_menu-36 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-36 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-36 .mbr-brand__name a {
  font-size: 22px;
}
#content5-38 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-38 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-38 .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-38 .mbr-article P {
  text-align: center;
  font-size: 21px;
}
#content5-38 .mbr-article DIV {
  text-align: left;
}
#footer1-41 P {
  color: #f97352;
}